<!-- _includes/comment-form.html -->
<form method="POST" action="https://jojo-static-20439876cdb1.herokuapp.com/v3/entry/github/mojojojo99/company/master/comments" class="comment-form">
  <input
    name="options[redirect]"
    type="hidden"
    value="{{ page.url | absolute_url }}"
  />

  <div class="comment-rating" style="font-size:5em; padding-top:.25em">
      <input required id="star5" name="fields[rating]" type="radio" value="5" class="radio-btn hide" />
      <label style="color: #1d242a" for="star5">☆</label>
      <input required id="star4" name="fields[rating]" type="radio" value="4" class="radio-btn hide" />
      <label style="color: #1d242a" for="star4">☆</label>
      <input required id="star3" name="fields[rating]" type="radio" value="3" class="radio-btn hide" />
      <label style="color: #1d242a" for="star3">☆</label>
      <input required id="star2" name="fields[rating]" type="radio" value="2" class="radio-btn hide" />
      <label style="color: #1d242a" for="star2">☆</label>
      <input required id="star1" name="fields[rating]" type="radio" value="1" class="radio-btn hide" />
      <label style="color: #1d242a" for="star1">☆</label>
      <div class="clear"></div>
  </div>

  <input name="options[slug]" type="hidden" value="{{ page.slug }}" />
  <input
    class="comment-name"
    name="fields[name]"
    type="text"
    placeholder="Name"
    required
  />
  <br />
  <textarea
    class="comment-message"
    name="fields[message]"
    placeholder="Review message (optional)"
  ></textarea>
  <br/>
  <button class="comment-submit" type="submit">Leave a review</button>
</form>