<!-- Three -->
<section id="three" class="wrapper style3 special">
	<div class="inner">
		<header class="major">
			<h2>Other Services</h2>
			<p>
			Sim Hup Seng takes pride in ensuring a one-stop, hassle free service for our valued customers. <br/>
			On top of toilet rentals, we also provide these services to further complete event planning logistics:
			</p>
		</header>
		<ul class="features">
			<li class="icon fa-paper-plane-o">
				<h3>Tentage Rental & Setup</h3>
				<p>We rent and install all types of tentages on-site, for all events. Common events include: funeral tentages, malay wedding curtains, night markets etc. </p>
			</li>
			<li class="icon fa-laptop">
				<h3>Tables + Chairs Rental & Setup</h3>
				<p>We rent white plastics with tables (square/round types availeble) and set them up for all events. These come with table cloths and chair wraps if necessary. </p>
			</li>
			<li class="icon fa-code">
				<h3>Funeral Management Service</h3>
				<p>We also partner with other funeral management firms -- in the case you are planning for a funeral event, fret not, let us handle the logistics with our partners. </p>
			</li>
			<li class="icon fa-headphones">
				<h3>Portable Toilet Servicing</h3>
				<p>On top of renting toilets, we also drop by to maintain and clean the toilets. Cleaning schedules can be arranged, let us know your needs. </p>
			</li>
		</ul>
	</div>
</section>
