<section id="oneb" class="wrapper style1 special" style="padding: 2em 0 2em 0">
		<p>
			Other services we provide: <br/> 
			Fridge Rental, <br/> 
			Tables & Chairs Rental, <br/>
			Tentage Rental & Setup <br/>
			Funeral Management
		</p>
		<ul class="icons major">
			<li><img class ="icon" src="assets/images/toilet.png" height=50em></li>
			<li><img class ="icon" src="assets/images/fridge.png" height=50em></li>
			<li><img class ="icon" src="assets/images/table.png" height=50em></li>
			<li><img class ="icon" src="assets/images/tent.png" height=50em></li>
		</ul>
</section>